*.out
*.swp
*.swo
*.swm
*.swn
*.o
getopt/*
lineWrapper
*.pyc
*vgcore.*
*.log
*.lst
*.out
*.dSYM
*.so
*.dylib
callgrind.out.*

# Common extensions for database files
*.db
*.sqlite

# Compiled lisp code, I think
*.fasl

# For org-mode exports
*.html
